<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="/style.css" />
    <title>Game Room</title>
  </head>
  <body>
    <div
      class="container-fluid d-flex col-md-8 col-lg-3 flex-column overflow-auto h-100 justify-content-start my-3 mx-5"
    >
      <!-- Log out  -->
      <div class="d-flex flex-column algin-content-center mt-0 my-3">
        <a href="/logout" class="btn btn-primary">LOG OUT</a>
      </div>
      <!-- Switch Game Room  -->
      <div class="d-flex flex-column algin-content-center mt-0 my-3">
        <a href="/gameHall" class="btn btn-success">Switch Room</a>
      </div>
      <!-- This input is only for send game id to js file  -->
      <input
        type="hidden"
        id="gameId"
        value="<%= game.id %>"
        style="display: hidden"
      />
      <div class="d-flex flex-column text-center mt-0 my-2">
        <h4>Game Room: <%= game.name %></h4>
        <h5><%= currentUser.displayName %>, welcome!</h5>
      </div>
      <hr />
      <!-- Message board  -->
      <div
        id="outputMsg"
        class="d-flex flex-column algin-content-center justify-content-center m-0 overflow-scroll text-center"
      ></div>
      <hr />
      <!-- Players container  -->
      <div
        id="playersContainer"
        class="container-fluid d-flex flex-row flex-wrap justify-content-center algin-content-center mt-3"
      ></div>
      <!-- Leave game room  -->
      <div
        class="d-flex flex-column algin-content-center mt-0 my-3 fixed-bottom"
      >
        <!-- Discussion container  -->
        <div
          id="messagesContainer"
          class="d-flex flex-column algin-content-center justify-content-end bg-light border rounded bg-light"
        >
          <div
            class="d-flex flex-column algin-content-center bg-light bg-light overflow-scroll"
          >
            <ul
              id="messages"
              class="d-flex flex-column justify-content-start"
            ></ul>
          </div>
          <form id="form" action="" class="d-flex flex-row m-1">
            <input
              id="input"
              autocomplete="off"
              class="form-control border border-gray mx-1"
            />
            <button class="btn btn-success">Send</button>
          </form>
        </div>
        <!-- Leave game button  -->
        <button id="quitBtn" class="btn btn-warning">Leave game</button>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.1.0/dist/js-loading-overlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // Socket chat
      var socket = io();

      const userName = `<%= currentUser.displayName %>`;
      const gameName = `<%= game.name %>`;
      socket.on("connect", () => {
        socket.emit("join", { game: gameName, userName: userName });
      });

      var messages = document.getElementById("messages");
      var form = document.getElementById("form");
      var input = document.getElementById("input");

      // send message
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
          const msg = input.value;
          socket.emit("chat message", { msg: msg, userName: userName });
          input.value = "";
        }
      });

      socket.on("chat message", function (msg) {
        var item = document.createElement("li");
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
    <script src="/gameRoom.js"></script>
  </body>
</html>
